<!DOCTYPE html">
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Accueil - Mon Projet Django</title>
</head>
<body>
    <h1>Bienvenue sur Mon Projet Django</h1>
    <nav>
        <ul>
            <li><a href="/magasin/">Application n°1 : Magasin</a></li>
            <li><a href="#">Application n°2</a></li>
            <li><a href="#">Application n°3</a></li>
        </ul>
    </nav>
    <div>
        <h2>Un titre</h2>
        <p>Un paragraphe</p>
    </div>
    <p>Base de Page de Votre Site Web Django</p>
</body>
</html>