{% extends 'magasin/base.html' %}
{% block title %} Catalogue de produits {% endblock title %}
{% block content %}
<!-- body -->

<div class="container-fluid mt-3">
    <div class="row">
        <!-- all products -->
        <div id='products' class="col-lg-9 mx-auto">
            <div class="text-right mb-3">
                <a href="{% url 'magasin:add_produit' %}" class="btn btn-primary">Ajouter un produit</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Libellé</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td><img src="{{ product.img.url }}" alt="Product Image" width="100" height="100"></td>
                        <td>{{ product.libelle }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            <a href="{% url 'magasin:editer_produit' product.id %}" class="btn btn-info btn-sm">Éditer</a>
                            <a href="{% url 'magasin:supprimer_produit' product.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
